<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
<!-- <link rel="shortcut icon" type="image/png"/> -->
<!-- <script src="https://kit.fontawesome.com/bf9dd3ec4d.js" crossorigin="anonymous"></script> -->
<!-- <link
	href="https://fonts.googleapis.com/css?family=Merriweather:700|Montserrat:300,400,900|Inconsolata:200&display=swap"
	rel="stylesheet"
/> -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<!-- <link rel="stylesheet" href="/css/bootstrap-social.css"> -->
<link rel="stylesheet" href="/css/styles.css" />