.vertical {
	border-left: 5px solid black;
	margin: 0px 0px 0px 300px;
	height: 610px;
}
.button {
	border: red;
	color: white;
	padding: 10px 40px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border-radius: 8px;
	width: 290px;
	transform: translateX(-105%);
}
.button1 {
	background-color: white;
	color: black;
	margin: 40px 600px 0px 0px;
	border: 2px solid #4caf50;
}
.button1:hover {
	background-color: #4caf50;
	color: white;
}
.button2 {
	background-color: white;
	color: black;
	margin: 20px 600px 0px 0px;
	border: 2px solid #cfe415;
}
.button2:hover {
	background-color: #cfe415;
	color: white;
}
.button3 {
	background-color: white;
	color: black;
	margin: 20px 600px 0px 0px;
	border: 2px solid #e90d0d;
}
.button3:hover {
	background-color: #e90d0d;
	color: white;
}
.button4 {
	background-color: white;
	color: black;
	margin: 20px 600px 0px 0px;
	border: 2px solid #4c06f0;
}
.button4:hover {
	background-color: #4c06f0;
	color: white;
}
#part {
	background-color: blue;
	height: 100%;
	position: absolute;
	margin: 0px;
	width: 76.1%;
}

body {
	background: grey;
	margin: 0;
}
