<!DOCTYPE html>
<html lang="en">

<head>
  <title>TimeTable</title>
  <%- include("../partials/head.ejs") -%>
</head>

<body>
  <div class class="container">
    <%- include("../partials/navbar.ejs")  %>
    <div class="body">
      <div class="vertical">
        <section id="part">
        </section>
        <button class="button button1">Green</button>
        <button class="button button2">Yellow</button>
        <button class="button button3">Reddis</button>
        <button class="button button4">Blueyy</button>
      </div>
    </div>
    <%- include("../partials/footer.ejs")  %>
  </div>
</body>

</html>