<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
  <%- include("../partials/head.ejs") -%>
</head>

<body>
  <div id="container">
    <div id="body">
      <%- include("../partials/navbar.ejs")  %>
      <div class="">
        <form class="signupBox">

          <h1 class="h3 mb-3 mx-auto text-center">Login</h1>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <input type="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required>
          <!-- <div class="checkbox mb-3"><label><input type="checkbox" value="remember-me"> Remember me</label></div> -->
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p> -->

        </form>
      </div>
    </div>
    <%- include("../partials/footer.ejs")  %>
  </div>
</body>

</html>