<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sign Up</title>
  <%- include("../partials/head.ejs") -%>
</head>

<body>
  <%- include("../partials/navbar.ejs")  %>
  <h1>This is the signup page</h1>
  <%- include("../partials/footer.ejs")  %>
</body>

</html>